{% extends 'base.html' %}

{% block content %}

    <h1>{% block title %} Окно выбора набора данных и модели {% endblock %}</h1>

    <form action={{ url_for('settings_form') }} method="post">

    <div class='container mb-5'>
        {% for name, values in params.items() %}
        <div class="row"><div class="col-xs-6">
        <div class="input-group">
                <span class="input-group-addon">{{name}}</span>
                <select name= "{{name}}" id="id{{name}}" action="/" class="form-control"/>
                    {% for v in values %}
                        <option value= "{{v}}" {% if session[name] == v %} selected {% endif%} >{{v}}</option>"
                    {% endfor %}
                </select>
        </div></div></div>
        {% endfor %}
    <button type="submit" name="submit_button" value="submit" class="btn btn-primary">Выбрать</button>
    </div>
    </form>
{% endblock %}